{% extends 'layout.html' %}

{% block body %}

    <h1>Dashboard <small>Welcome {{session.username}}</small></h1>
    <!-- <a class="btn btn-success" href="/add_article">Add article</a>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
            <th></th>

        </tr>
    {% for article in articles %}
        <tr>
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.author}}</td>
            <td>{{article.create_date}}</td>
            <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
            <td>
                <form action="{{url_for('delete_article', id=article.id)}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger">

                </form>
            </td>
        </tr>
    {% endfor %}
    </table> -->
    {% if records %}
        <h4 text-align="center">
            {{ records[0].name }}
        </h4>
        <table class="table table-dark">
            <tr>
                <th>Date</th>
                <th>Matchup</th>
                <th>Points</th>
                <th>Assists</th>
                <th>Rebounds</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Turnovers</th>
                <th>FG %</th>
            </tr>
        {% for record in records %}
            <tr>
                <td>{{record.date}}</td>
                <td>{{record.matchup}}</td>
                <td>{{record.pts}}</td>
                <td>{{record.assists}}</td>
                <td>{{record.reb}}</td>
                <td>{{record.stl}}</td>
                <td>{{record.blocks}}</td>
                <td>{{record.tov}}</td>
                <td>{{record.fg_pct}}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h6>No data avalaible for this player.</h6>
    {% endif %}
{% endblock %}